* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #182437;
  background: linear-gradient(306deg, rgba(24, 36, 55, 1) 0%, rgba(156, 33, 35, 1) 100%);
  color: #fff;
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
aside {
  width: 220px;
  background: #3a0c0d;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px 0px 10px 10px;
  transition: transform 0.3s ease;
}
aside h2 {
  font-size: 1.1em;
  margin-bottom: 10px;
}
aside ul {
  list-style: none;
}
aside ul li {
  padding: 8px;
  cursor: pointer;
}
aside ul li:hover {
  background: #0d4476;
  border-radius: 5px;
}

/* Main content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Header */
header {
  background: #3a0c0d;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}
.logo {
  font-size: 1.3em;
  font-weight: bold;
}
.search {
  flex: 1;
  margin: 0 20px;
}
.search input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}
.icons {
  display: flex;
  gap: 10px;
}

/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: auto;
}

.banner button{
  color: aliceblue;
  background-color: rgb(255, 0, 0);
  height: 35px;
  width: 100%;
  max-width: 358px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .1s;
  align-self: center;
  margin-top: 10px;
}

.banner button:hover{
  transition: .1s;
  transform: scale(1.10);
}

.banner-main {
  flex: 3;
  background-image: url(../images/silenthillBANNER.webp);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  min-height: 250px;
  transition: .5s;
  cursor: pointer;
}

.banner-main:hover{
  transition: .2s;
  filter: brightness(50%);
}

.banner-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-side div{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  height: 170px;
  padding: 10px;
  cursor: pointer;
}

.banner-side div:nth-child(1) {
  background-image:url(../images/banner1.png);
}
.banner-side div:nth-child(1) h4,
.banner-side div:nth-child(2) h4,
.banner-side div:nth-child(3) h4 {
  text-align: center;
  align-content: center;
  opacity: 0;
  height: 100%;
  font-size: 30px;
  font-weight: 800;
}
.banner-side div:nth-child(1):hover h4,
.banner-side div:nth-child(2):hover h4,
.banner-side div:nth-child(3):hover h4{
  opacity: 1;
  transition: .2s;
}

.banner-side div:nth-child(2) {
  background-image:url(../images/banne2.png);
}

.banner-side div:nth-child(3) {
  background-image:url(../images/banner3.png);
}
.banner-side div:nth-child(1):hover,
.banner-side div:nth-child(2):hover,
.banner-side div:nth-child(3):hover{
  transition: .2s;
  filter: brightness(50%);
  transform: scale(1.05);
}

/* botones de desplazamiento */
.btns-desplazamiento{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: auto;
  height: 50px;
  flex-wrap: wrap;
  padding: 0 10px;
}

.btns-desplazamiento div{
  background-color:#A17C8A;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btns-desplazamiento div:nth-child(4){
  background-color: #637184;
}
.btns-desplazamiento div:hover{
  background-color: #a17c8a85;
  transition: .2s;
  transform: scale(1.10)
}

/* Grid de juegos */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  padding: 20px;
}
.game-card {
  background:#3a0c0d;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 10px;
}

.game-card img {
  width: 100%;
  display: block;
  transition: .2s;
}
.game-card img:hover{
  transition: .2s;
  filter: brightness(80%);
  transform: scale(1.05);
}
.game-card p {
  margin-top: 8px;
  font-size: 1.2em;
  font-weight: 800;
}

/* Paginación */
.pagination {
  text-align: center;
  padding: 10px;
}

#no-games-message{
  display: none; 
  text-align: center; 
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5rem;
}

/* Footer */
.footer-top {
  display: flex;
  flex-direction: column;
  background: #3a0c0d;
  padding: 15px;
  align-items: center;
  gap: 15px;
}
.footer-top div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-top div p{
  font-size: 20px;
  font-weight: 900;
  margin-right: 0;
}

.footer-top div:nth-child(1),
.footer-top div:nth-child(2),
.footer-top div:nth-child(3) {
  width: auto;
  height: auto;
}

/* Area de comentarios  */
.seccionComentarios{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3a0c0d;
  padding: 10px;
}

.comment-section {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

.comment-section h2 {
  text-align: center;
  color: black;
}

.comment-box {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  resize: none;
}

#submitBtn {
  width: 100%;
  padding: 10px;
  background-color: #6b0e0e;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #721111;
}

.feedback {
  color: red;
  font-size: 14px;
  text-align: center;
}

.comment-list {
  margin-top: 20px;
}

.comment {
  background-color: #a5a5a5;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-word;  
}

.comment p {
  margin: 0;
  font-size: 16px;
  color: black;
}

textarea.error {
  border-color: red;
}

.feedback.success {
  color: green;
}

/* Footer inferior */
.footer-bottom {
  background-color: #3a0c0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.social {
  display: flex;
  gap: 15px;
}
.social a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.footer-links ul {
  list-style: none;
}
.footer-links li {
  margin: 5px 0;
  font-size: 0.9em;
}

/* Media Queries */
@media (min-width: 768px) {
  body {
    margin: 10px 150px 10px 150px;
  }
  aside {
    transform: translateX(0);
  }
  .banner {
    flex-direction: row;
    height: 550px;
  }
  .banner button {
    align-self: flex-start;
    position: absolute;
    top: 57%;
    left: 25%;
  }
  .banner-side {
    flex-direction: column;
  }
  .footer-top {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-bottom {
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-links {
    flex-direction: row;
    gap: 100px;
  }
  .seccionComentarios {
    padding: 20px;
  }
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }
  aside.open {
    transform: translateX(0);
  }
  header {
    border-radius: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
}
