* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #182437;
  background: linear-gradient(306deg, rgba(24, 36, 55, 1) 0%, rgba(156, 33, 35, 1) 100%);
  color: #fff;
  display: flex;
  min-height: 100vh;
  margin: 10px 150px 10px 150px;
}

/* Sidebar */
aside {
  width: 220px;
  background: #3a0c0d;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
   border-radius: 10px 0px 10px 10px;

}
aside h2 {
  font-size: 1.1em;
  margin-bottom: 10px;
}
aside ul {
  list-style: none;
}
aside ul li {
  padding: 8px;
  cursor: pointer;
}
aside ul li:hover {
  background: #0d4476;
  border-radius: 5px;
}

/* Main content */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background: #3a0c0d;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: fit-content;
}
.logo {
  font-size: 1.3em;
  font-weight: bold;
}
.search {
  flex: 1;
  margin: 0 20px 0 890px;
}
.search input {
  width: 100%;
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}
.icons {
  display: flex;
  gap: 10px;
}

/* Banner */
.banner {
  display: flex;
  gap: 10px;
  padding: 20px;
  height: 550px;
  
}

.banner button{
  color: aliceblue;
  background-color: rgb(255, 0, 0);
  height: 35px;
  width: 358px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 57%;
}


.banner-main {
  flex: 3;
  background-image: url(../images/silenthillBANNER.webp);
  background-size: cover;
  border-radius: 10px;
  min-height: 250px;
  transition: .5s;
}

.banner-main:hover{
  transition: .2s;
  filter: brightness(50%);
  
}


.banner-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-side div{
  background-size: cover;
   background-repeat: no-repeat;
  border-radius: 10px;
  height: 170px;
  padding: 10px;
}

.banner-side div:nth-child(1) {
  background-image:url(../images/banner1.png);

}
.banner-side div:nth-child(1) h4,
.banner-side div:nth-child(2) h4,
.banner-side div:nth-child(3) h4 {
  text-align: center;
  align-content: center;
  opacity: 0;
  height: 100%;
  font-size: 30px;
  font-weight: 800;
}
.banner-side div:nth-child(1):hover h4,
.banner-side div:nth-child(2):hover h4,
.banner-side div:nth-child(3):hover h4{
  opacity: 1;
  transition: .2s;
}


.banner-side div:nth-child(2) {
  background-image:url(../images/banne2.png);
 
}


.banner-side div:nth-child(3) {
  background-image:url(../images/banner3.png);
  
}
.banner-side div:nth-child(1):hover,
.banner-side div:nth-child(2):hover,
.banner-side div:nth-child(3):hover{
transition: .2s;
  filter: brightness(50%);
  transform: scale(1.05);
}


 /* botones de desplazamiento */

  .btns-desplazamiento{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: auto;
    height: 50px;
  }

   .btns-desplazamiento div{
    background-color:#A17C8A;
    width: 50px;
    height: 25px;
    border-radius: 5px;
  }

    .btns-desplazamiento div:nth-child(4){
      background-color: #637184;
    }


/* Grid de juegos */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
  padding: 20px;
}
.game-card {
  background:#3a0c0d;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 10px;
}
.game-card img {
  width: 100%;
  display: block;
}
.game-card p {
  margin-top: 8px;
  font-size: 1.3em;
  font-weight: 800;
}

/* Paginación */
.pagination {
  text-align: center;
  padding: 10px;
}

/* Footer */
/* Footer superior */
.footer-top {
  display: flex;
  background: #3a0c0d;
  padding: 15px;
  justify-content: space-around;
}
.footer-top div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-top div:nth-child(1) {
  background: url(/images/descarga.png);
   background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

.footer-top div:nth-child(2) {
  background: url(/images/seguro.png);
   background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

.footer-top div:nth-child(3) {
  background: url(/images/contacto.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}



/* Footer inferior */
.footer-bottom {
  background-color: #3a0c0d;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.social {
  display: flex;
  gap: 15px;
}
.social a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
.footer-links {
  display: flex
;
    gap: 300px;
    text-align: center;
}
.footer-links ul {
  list-style: none;
}
.footer-links li {
  margin: 5px 0;
  font-size: 0.9em;
}
